.header {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: darkred;
  text-shadow: 0 0.2rem 5rem rgb(119, 115, 115);
  text-transform: uppercase;
  margin: 3rem 0;
}

input:placeholder-shown {
  font-style: italic;
}

.note {
  background-color: rgb(233, 72, 72);
  border-radius: 3px;
}

.note p {
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.title {
  background-color: rgba(161, 161, 161, 0.7);
  padding: 0.5rem 0.5rem;
  width: 100%;
  font-weight: 500 !important;
  text-shadow: 0 0.5rem 0.5rem #555;
  color: ivory;
}

.card-body {
  flex: 0 0 auto !important;
}