.header {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: darkred;
  text-shadow: 0 0.2rem 5rem rgb(119, 115, 115);
  text-transform: uppercase;
  margin: 3rem 0;
}

input:placeholder-shown {
  font-style: italic;
}